.mainPageLayout{
    display: grid;
    background-color: rgb(153, 246, 228);
    grid-template-columns: 160px 1fr;      /* left fixed width, main fills remaining */
    grid-template-rows: 40px 1fr;          /* header fixed height, content fills remaining */
    grid-template-areas:
    "header header"
    "left main";
    height: 100vh;
                        /* fill viewport height */
}

.top{
    display: flex;
    grid-area: header;
    background-color: rgb(153, 246, 228);
   /* border-bottom: 0.5px solid black;     */
    position: sticky;  /* stays at top if scrolling */
    top: 0;
    z-index: 10;  
}

.left{
    display: flex;
    grid-area: left;
    /*background-color: rgb(255, 255, 255);*/
   /* overflow: auto;   */
   /* border-right: 0.5px solid black; */  
    position: sticky;  /* sidebar stays fixed */
    left: 0;
    top: 60px;         /* below the header */
   /* height: calc(100vh - 60px);               /* scroll if content overflows */

}

.main{
    display: flex;
    grid-area: main;
   
   /* padding-left: 6px;
    padding-right: 6px; */
    background-color: rgb(204 251 241);
   /* overflow: auto;   */
    border: 0.5px solid grey;
    border-radius: 6px; 
    overflow-y: hidden;
                    /* scroll if content overflows */
}

@media (max-width: 768px) {
    .mainPageLayout {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  
    .top {
      display: flex;
      flex: 6%;
      position: static;
      width: 100%;
      border-bottom: 1px solid rgba(15, 23, 42, 0.08);
      order: 1;
    }
  
    .left {
      display: flex;
      flex: 10%;
      width: 100%;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid rgba(15, 23, 42, 0.05);
      overflow-x: auto;
      order: 3;
    
    
    }
  
    .main {
      order: 2;
      min-height: 0;
      flex: 94%;
    
      border: none;
      border-radius: 0;
      background-color: rgb(255, 255, 255);
      order: 2;
    }
  }